* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: "DM Serif Display", "Public Sans",  sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
}

.container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }